@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #39493D;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }
  
  p {
    color: white;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
  }
  
  button {
    background-color: #43725eb0;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #f5f5f56d;
    color: white;
  }

  .bande-blanche{
    padding: 32px 20px;
    margin-bottom: 50px;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 15px 0px 166229;
  }

  #top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
  }

  /*--------------------------------------------------------------------------------------*/

  header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 30px;
  }
  
  #menu ul {
    list-style-type: none; /* enlève les puces */
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
  }
  
  #menu li {
    float: left; /* affiche les éléments de liste horizontalement */
  }
  
  #menu li a {
    display: block; /* rend les liens du menu comme des blocs */
    background-color: #39493D;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.2s; /* ajoute une animation lorsque le style change */
  }
  
  #menu li a:hover {
    color: white;
    background-color: #43725E;
    transform: scale(1.15);
  }
  /*-----image text-----*/
  #image-text{
    position: relative;
  }

  #image-text img{
    opacity: 60%;
  }

  #image-text p {
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    font-size: 32px;
    font-weight: 900;
    padding: 30px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 15px 0px 166229;
    display: flex;
    justify-content: center;
  }

  /*------Présentation---------*/

  #presentation{
    border: 1px solid white;
    width: 750px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 350px;
    padding: 35px;
    text-align: center;
    white-space: 2px;
    box-shadow:  1px 2px 10px 0px white;
    background-color: #43725e50;
    border-radius: 5px;
    font-size: large;
    font-weight: 600;
    line-height: 40px;
    display: flex;
    justify-content: center;
  }


  /*-----Préstations-----*/

  #prestations div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  #prestations h3{
    width: 300px;
    font-size: xx-large;
    font-family: "inter", sans-serif;
    font-weight: 700;
    margin-left: 150px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
  }  
  
  #prestations h4{
    margin-top: 50px;
    font-size: x-large;
    font-family: "inter", sans-serif;
    font-weight: 700;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 15px 0px 166229;
    display: flex;
    justify-content: center;
  }

  .bloc-image{
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }

  .bloc-image ul{
    display: flex;
    flex-flow: row wrap;
    margin: 25px;
  }

  .bloc-image li{
    width: 450px;
    height: 400px;
    margin: 25px;
    display: flex;
    justify-content: center;
  }

  .cadre-image{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

  }

  .cadre-image img{
    border: 1px solid white;
    height: 350px;
    width: 100%;
    box-shadow:  1px 2px 10px 0px white;
    border-radius: 5px;
  }

  .cadre-image img:hover{
    transform: scale(1.12);
  }

  .cadre-image p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    font-size: large;

  }

  .bloc-image2{
    display: flex;
    justify-content: center;
    margin-left: 300px;
  }

  .bloc-image2 ul{
    display: flex;
    flex-flow: row wrap;
    margin: 25px;
  }

  .bloc-image2 li{
    width: 450px;
    height: 400px;
    margin: 25px;
    display: flex;
    justify-content: center;
  }

  .cadre-image2{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

  }

  .cadre-image2 img{
    border: 1px solid white;
    height: 350px;
    width: 100%;
    box-shadow:  1px 2px 10px 0px white;
    border-radius: 5px;
  }

  .cadre-image2 img:hover{
    transform: scale(1.12);
  }

  .cadre-image2 p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    font-size: large;

  }

  /*-----contact-----*/

  #contact h3{
    width: 300px;
    font-size: xx-large;
    font-family: "inter", sans-serif;
    font-weight: 700;
    margin-left: 150px;
    padding: 20px 20px;
    display: flex;
    justify-content: center; 
  }

  #contact-div{
    display: flex;
    justify-content: center;
  }

  #contact-ul{
    width: 500px;
    margin-top: 25px;
    padding: 25px;
    margin-bottom: 50px;
    font-size: x-large;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 15px 0px 166229;
  }

  #contact-ul i{
    margin-right: 25px;
    line-height: 2em;
  }

  /*-----Footer-----*/
  
  footer{
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 25px;
    padding: 25px;
    font-size: x-small;
  }

  #footer-div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 10px;
  }

  #footer-liens{
    display: flex;
    flex-direction: column;
  }

  #footer-liens h4{
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  #footer-liens a{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #footer-copy {
    display: flex;
    align-items: flex-end;
  }

  /*-----Tablettes-----*/

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* styles pour les tablettes vont ici */
  }

  /*-----Téléphones-----*/

  @media only screen and (max-width: 767px) {
    /* styles pour les téléphones vont ici */
  }